* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: 'Poppins', sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: auto;
}
