 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-banner {
  width: 100%;
  

  margin: 0 auto;
  background: black;
   height: 140px; 
}
 
.top-banner img {
  width: 100%;
  

  height: 140px;
  display: block;
  
}






.hero {
  min-height: 70vh;
  background: linear-gradient(120deg, #0b0b0b, #1a1a1a);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 6%;
  color: white;
}


.hero-left,
.hero-right {
  width: 50%;
}


.hero h1 {
  font-size: 4.5rem;
  color: #c9a646;
}

.hero h1 span {
 
  color: white;
  text-shadow: 0 0 20px gold;
}

.hero p {
  margin-top: 15px;
  font-size: 1.2rem;
  line-height: 1.6;
}


.hero-right {
 
  display: flex;
  justify-content: flex-end;
}


.hero-right img {
  width: 300px;
  height: 300px;
  
  border-radius: 50%;
  filter: drop-shadow(0 0 30px gold);
  animation: float 4s ease-in-out infinite;
}



.btn-book {
  margin-top: 20px;
  padding: 14px 34px;
  font-size: 1rem;
  border-radius: 25px;
  background: linear-gradient(135deg, #00e5ff, #00bcd4);
  color: #002b2b;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0,229,255,0.6);
  transition: 0.3s ease;
}

.btn-book:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(0,229,255,0.9);
}


@media (max-width: 768px) {

  .top-banner {
   
      max-width: 100%;
      
      
          height: 140px;
          .scroll-strip {
    height: 32px;
  }
  .scroll-text {
    font-size: 12px;
  }
  }


  .top-banner video {
  width: 100%;
  height: 140px;
  
  object-fit: cover;
  display: block;
  object-fit: contain;
  background: black;
}


  .hero {
     min-height: 70vh;
    padding: 30px 16px;
  }

  
  .hero-right {
    width: 55%;      
  }
   .hero-left{
    margin-top: -30px;
  max-width: 40%;
}
  .hero h1 {
    font-size: 3.4rem;
  }

  .hero p {
    font-size: 0.95rem;
    line-height: 2;
  }

  .hero-right img {
    width: 180px;
    height: 350px;
  }
}
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-14px); }
  100% { transform: translateY(0); }
}


.scroll-strip {
  width: 100%;
  height: 30px;
  background: #000000;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}

.scroll-text {
  white-space: nowrap;

  color: hsl(285, 91%, 46%);
   width: max-content;
  font-size: 18px;
  font-weight: 500;
  padding-left: 100%;
  font-family: sans-serif;
 

  animation: scroll-left 31s linear infinite;
  letter-spacing: 1px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}




 





