* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ===== BIG SLIDING BANNER ===== */
.top-banner {
  width: 100%;
  height: 260px;              /* Desktop banner height */
  overflow: hidden;
  background: black;
}

.top-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ===== HERO DESKTOP ===== */
.hero {
  min-height: calc(100vh - 260px);   /* banner height minus */
  background: linear-gradient(120deg, #0b0b0b, #1a1a1a);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  color: white;
}

.hero-left,
.hero-right {
  width: 50% 
}


.hero h1 {
  font-size: 4.5rem;
  color: #c9a646;
  margin-bottom: 15px;
}

.hero h1 span {
  color: white;
  text-shadow: 0 0 20px gold;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  line-height: 1.6;
}

/* ===== HERO IMAGE ===== */
.hero-right {
  width: 50%;
  display: flex;
  justify-content: flex-end !important;
}

.hero-right img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: drop-shadow(0 0 30px rgb(255, 215, 0));
  animation: float 3s ease-in-out infinite;
}



@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}


@media (max-width: 768px) {

  .top-banner {
    height: 160px;  
  }

 

  .hero {
    min-height: calc(100vh - 140px);
    padding: 25px 18px 40px;
    justify-content: flex-start;
      min-height: calc(100vh - 160px);   
  }

  
  
  .hero-left {
    margin-top: -120px;
    width: 50%;
  
  }
  
  
  .hero-right {
    width: 50%;
    margin-top: -5px;
    justify-content: center;
  }

  .hero h1 {
    font-size: 2.6rem;
     line-height: 1.1;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero-right img {
    margin-top: -50px;
    width: 240px;
    height: 300px;
  }
  .btn-book {
  padding: 14px 34px;
  font-size: 1rem;
  margin-top: 16px;
  border-radius: 20px;
  background-color: aqua;
  color: #003333;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}


.btn-book:hover {
  background: linear-gradient(135deg, #00e5ff, #00bcd4);
  color: white;
  box-shadow: 0 0 15px rgba(0, 229, 255, 0.8);
  transform: scale(1.05);
}


.btn-book:active {
  transform: scale(0.97);
}

}