* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== TOP BANNER ===== */
.top-banner {
  width: 100%;
  height: 260px;
  overflow: hidden;
  background: black;
}

.top-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ===== HERO SECTION ===== */
.hero {
  min-height: 70vh;
  background: linear-gradient(120deg, #0b0b0b, #1a1a1a);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 6%;
  color: white;
}

/* Left & Right */
.hero-left,
.hero-right {
  width: 50%;
}

/* Text */
.hero h1 {
  font-size: 4.5rem;
  color: #c9a646;
}

.hero h1 span {
  color: white;
  text-shadow: 0 0 20px gold;
}

.hero p {
  margin-top: 15px;
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Image */
.hero-right {
  display: flex;
  justify-content: flex-end;
}

.hero-right img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: drop-shadow(0 0 30px gold);
}

/* Button */
.btn-book {
  margin-top: 20px;
  padding: 14px 34px;
  font-size: 1rem;
  border-radius: 25px;
  background: linear-gradient(135deg, #00e5ff, #00bcd4);
  color: #002b2b;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0,229,255,0.6);
  transition: 0.3s ease;
}

.btn-book:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(0,229,255,0.9);
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {

  .top-banner {
    height: 180px;
  }

  .hero {
     min-height: 70vh;
    padding: 30px 16px;
  }

  .hero-left,
  .hero-right {
    width: 50%;      /* still side-by-side */
  }

  .hero h1 {
    font-size: 2.2rem;
  }

  .hero p {
    font-size: 0.95rem;
  }

  .hero-right img {
    width: 180px;
    height: 240px;
  }
}
