
.services {
  padding: 40px 8%;
  
}

.service-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #111;
  padding: 15px;
  width: 240px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  border: 1px solid #333;
}

.card:hover {
  transform: translateY(-5px);
  border-color: #c9a646;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}



.testimonials {
  background: #111;
  padding: 60px 20px;
  text-align: center;

}
.testimonials h2{
  font-size: large;
  margin-bottom: 30px;
}


.section-title {
  text-align: center;
  color: #d4b15f;
  font-size: 3.8rem;
  margin-bottom: 40px;
  margin-top: -40px;
}


.review-box {
  max-width: 550px;
  background: #1a1a1a;
  border: 1px solid #d4b15f;
  padding: 25px;
  margin: auto;
  border-radius: 12px;
  color: #fff;
  font-size: 1.1rem;
  box-shadow: 0px 0px 15px rgba(255, 215, 0, 0.1);
}

.review-box small {
  color: #d4b15f;
  font-size: 1rem;

}

.review-text {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.6s ease-in-out;
}

.review-text.animate {
  opacity: 0;
  transform: translateY(-15px);
}




.gallery {
  padding: 50px 8%;
  text-align: center;
}

.gallery-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.gallery-grid img {
  width: 300px;
  border-radius: 10px;
  border: 1px solid #333;

}

.view-btn {
  margin-top: 20px;
  background: none;
  color: #c9a646;
  border: 1px solid #c9a646;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

