.location-section {
  background: linear-gradient(135deg, #fff0f6, #ffe6f0);
  padding: 50px 20px;
}

.location-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 20px 60px rgba(255, 105, 180, 0.25);
}

/* Left text */
.location-info {
  width: 40%;
  
}

.location-info h2 {
  font-size: 2.8rem;
  color: #d63384;
  margin-bottom: 15px;
}

.location-info p {
  font-size: 1.1rem;
  line-height: 1.7;;
  margin-bottom: 25px;
}

/* Button */
.direction-btn {
  display: inline-block;
  padding: 14px 30px;
  background: linear-gradient(135deg, #ff4fa3, #ff1493);
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 10px 30px rgba(255, 20, 147, 0.5);
  transition: 0.3s ease;
}

.direction-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 40px rgba(255, 20, 147, 0.8);
}

/* Right map */
.location-map {
  width: 60%;
  height: 100px;
  border-radius: 20px;
  overflow: hidden;
}

/* .location-map iframe {
  width: 100%;
  height: 25%;
  border: none;
} */

/* ===== Mobile ===== */
@media (max-width: 768px) {
  .location-container {
    flex-direction: column;
    padding: 5px;
     background: #1a1a1a;
  }

  .location-info,
  .location-map {
    width: 100%;
  }

  .location-map {
    height: 0px;
  }

  .location-info h2 {
    font-size: 2.2rem;
  }
}
