

/* ===== HEADING ===== */
.d h1 {
  margin-bottom: 12px;
  color: #d4af37;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 36px;

  opacity: 0;
  animation: slideGlow 1.2s ease-out forwards;
}

/* ===== DESCRIPTION TEXT ===== */
.d p {
  font-size: 14px;
  color: #c9b37a;
  letter-spacing: 0.8px;
  opacity: 0;

  animation: fadeIn 1.2s ease-out forwards;
  animation-delay: 0.6s;
}

/* ===== ANIMATIONS ===== */
@keyframes slideGlow {
  from {
    opacity: 0;
    transform: translateY(-25px);
    text-shadow: none;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    text-shadow:
      0 0 8px rgba(212, 175, 55, 0.6),
      0 0 18px rgba(212, 175, 55, 0.3);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.d::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: linear-gradient(to right, #d4af37, transparent);
  margin-top: 15px;
}


.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at top, #1a1a1a, #000);
  font-family: "Segoe UI", sans-serif;
}

.login-container h2 {
  color: #d4af37; 
  text-align: center;
  margin-bottom: 30px;
  margin-left: -100px;
  letter-spacing: 1px;
}


.login-container form {
  background: #0f0f0f;
  padding: 30px;
  width: 320px;
  border-radius: 10px;
  border: 1px solid rgba(212, 175, 55, 0.4);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}


.login-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  background: #000;
  border: 1px solid #333;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
}

.login-container input::placeholder {
  color: #888;
}

.login-container input:focus {
  outline: none;
  border-color: #d4af37;
  box-shadow: 0 0 6px rgba(212, 175, 55, 0.6);
}


.login-container button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #d4af37, #b8962e);
  border: none;
  border-radius: 6px;
  color: #000;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-container button:hover {
  background: linear-gradient(135deg, #f1d06b, #d4af37);
  transform: translateY(-1px);
}
