/* ===== NAVBAR ===== */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 7px 30px;
  border-bottom: 1px solid #333;
  align-items: center;
  background: #000;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo */
.logo {
  color: #c9a646;
  font-weight: bold;
  font-size: 22px;
}

/* Desktop Menu */
.nav-links {
  display: flex;
  gap: 22px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 12px 18px;
  font-size: 17px;
  white-space: nowrap;
}

.nav-links a:hover {
  color: #c9a646;
}

/* Active */
.nav-links a.active {
  color: #c9a646;
  border-bottom: 2px solid #c9a646;
}

/* ===== Hamburger ===== */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 26px;
  height: 3px;
  /* background: #c9a646; */
  background: white;
  border-radius: 5px;
}
.store-link {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  padding: 12px 20px;
  color: #c9a646;
  font-weight: bold;
  text-decoration: none;
}

.store-link span {
  display: block;
}

/* Default: Desktop */
.logo-mobile {
  display: none;
}

.logo-desktop {
  display: inline;
}


/* ===== MOBILE ===== */
@media (max-width: 768px) {

  .hamburger {
    display: flex;
    position: fixed;
    top: 18px;
    left: 18px;
    z-index: 1001;
  }

  .logo {
    margin: 0 auto;
  }

  /* Dropdown menu */
  .nav-links {
    position: fixed;
    top: 45px;
    left: 3px;
      

    width: 100px;
    background: rgba(15,15,15,0.98);
    border-radius: 14px;
    padding: 10px 0;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    box-shadow: 0 15px 40px rgba(0,0,0,0.7);

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 999;
  }

  .nav-links.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .nav-links a {
    padding: 2px 18px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.08);
    text-align: left;
  }

  .nav-links a:last-child {
    border-bottom: none;
  }
}
